@font-face {
  font-family: 'BungeeTint';
  src: url('../assets/fonts/BungeeTint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.add-ticket-container {
  position: relative;
  display: inline-block;
}

.dashboard-main {
  position:relative;
  background-color: #F3F7EC;
  border-radius: 2%;
}

.dashboard-greeting {
  padding-top: 30px;
  font: 'BungeeTint';
}