/* Main board div element*/
.main-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #F3F7EC;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sort-button-container {
  flex-direction: row;
}

/* Todo drop zone div*/
.backlog-container,
.todo-drop-container, 
.in-progress-drop-container,
.finished-drop-container {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  background-color: #E88D67;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}